-i https://pypi.org/simple
black==23.1.0
click==8.1.3; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==23.0; python_version >= '3.7'
pathspec==0.11.0; python_version >= '3.7'
platformdirs==3.0.0; python_version >= '3.7'
tomli==2.0.1; python_version < '3.11'
typing-extensions==4.5.0; python_version < '3.10'
asgiref==3.6.0; python_version >= '3.7'
django==4.1.7
pillow==9.0.1
sqlparse==0.4.3; python_version >= '3.5'
