{% extends 'books/base.html' %}

{% block page_title %}Publishers{% endblock %}

{% block body_title %}Publishers{% endblock %}


{% block content %}

  {% if publisher_list %}

    <ul>
      {% for publisher in publisher_list %}
        <li>
          <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a>
          ({{ publisher.books.count }} book{{ publisher.books.count|pluralize }})
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>There are no publishers to display.</p>

  {% endif %}

  <p>
    <a href="{% url 'books:publisher_create' %}">Add a publisher</a>
  </p>

{% endblock content %}
