{% extends 'books/base.html' %}

{% block page_title %}{{ publisher.name }}{% endblock %}

{% block body_title %}{{ publisher.name }}{% endblock %}


{% block content %}


  <h2>Books</h2>

  {% if publisher.books.all %}

    <table>
      <thead>
        <tr>
          <th style="text-align:left;">ID</th>
          <th style="text-align:left;">Title</th>
          <th style="text-align:left;">Images</th>
        </tr>
      </thead>
      <tbody>
        {% for book in publisher.books.all %}
          <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>
              {% if book.images.all %}
                {% for image in book.images.all %}
                  <img src="{{ image.image.url }}" width="100" style="height:auto; max-height:150px;" alt="{{ image.alt_text }}">
                {% endfor %}
              {% else %}
                (None)
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <p>This publisher has no books.</p>

  {% endif %}

  <hr>

  <p>
    <a href="{% url 'books:publisher_update' pk=publisher.pk %}">Edit these books</a>
    |
    <a href="{% url 'books:publisher_list' %}">All publishers</a>
  </p>

{% endblock content %}
